/* .unlocked{
  display: none;
}

.locked :hover{
  display: none;
  color: red;
}

.unlocked :hover::before{
  display: inline-block;
} */

.par {
  font-family: ParisParisienneien;
}

.top-half-30 {
  top: 30%;
}

.top-half-20 {
  top: 20%;
}
.top-half-10 {
  top: 10%;
}

.text-7xl {
  font-size: 5rem;
}

.text-8xl {
  font-size: 6rem;
}
